<targets>
  <target xsi:type="File" name="main" fileName="${basedir}/logs/controlscreener.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
  <target xsi:type="File" name="error" fileName="${basedir}/logs/errors/errors.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
</targets>

<rules>
  <logger name="*" maxlevel="Warn" writeTo="main" />
  <logger name="*" minlevel="Error" writeTo="error" />
</rules>